@import './variable.scss';
.el-header,
.el-main,
.el-footer {
  width: 1190px;
  margin: 0 auto;
  padding: 0;
  overflow: unset;
}

.el-header {
  width: 100%;
  font-size: 12px;
  color: $color-text;
  background: $color-theme-d;

  .m-header {
    width: 1190px;
    margin: 0 auto;

    .m-user > a {
      color: $color-theme;
    }
  }
}

.layout-default {
  -webkit-font-smoothing: antialiased;
  font-family: '-apple-system', BlinkMacSystemFont, Roboto, 'Helvetica Neue',
    'MIcrosoft YaHei', sans-serif !important;
  background-color: $color-theme-d;
}
