// 颜色定义规范
$color-background: #222;
$color-text: #999;
$color-text-active: #ec4934;
$color-theme: #13d1be;
$color-theme-d: #f8f8f8;
$color-theme-l: #e5e5e5;
$color-theme-w: #fff;
$color-shadow: #dadcd9;
$color-text-y: #f90;
$color-menu: rgba(255, 255, 255, 0.319);

// 字体定义规范
$font-size-small-s: 10px;
$font-size-large: 18px;
