@import './topbar.scss';
@import './search.scss';
@import '../variable.scss';
.m-header {
  background: $color-theme-l;
  @at-root .layout-default {
    .el-header {
      .m-header {
        width: 100%;
      }
    }
  }
  > .el-row:nth-child(1) {
    width: 1190px;
    margin: 0 auto;
    z-index: 9999;
    height: 30px;
    line-height: 30px;
  }
  > .el-row:nth-child(2) {
    background: $color-theme-w;
    .search-panel {
      width: 1190px;
      margin: 0 auto;
    }
  }
  > .el-main {
    overflow: unset;
  }
}
